-# coding: utf-8
!!! 5
%html
  %head
    %meta( charset="utf-8" )
    %title fdlint - 让code review更轻松
    = css "/stylesheets/bootstrap.min.css?v=20120308"
    = css "/stylesheets/bootstrap-responsive.min.css"
    = css "/stylesheets/style.css?v=20120308"

  %body
    .container
      %h1.logo fdlint

      %textarea.input( placeholder="在此输入代码，或将文件拖到这里" )= @src
      %p
        .submit.btn-group
          %button.btn-primary.btn.css 
            %i.icon-search.icon-white
            检查CSS
          %button.btn-primary.btn.html 
            %i.icon-search.icon-white
            检查HTML
          %button.btn-primary.btn.js 
            %i.icon-search.icon-white
            检查JS
      .content
        .locator-wrapper
          .locator.hide
            .locator-content
              .prev 
                %a.btn( href="#prev" ) &#9650;
              .next 
                %a.btn( href="#next" ) &#9660;
        #src

      %footer
        %a( href="https://github.com/qhwa/fdlint-host" )
          %img( style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub")


    = js "http://style.china.alibaba.com/js/lib/fdev-v4/core/fdev-min.js?"
    = js "http://style.china.alibaba.com/js/lib/fdev-v4/widget/ui/scrollto.js" 
    = js "/scripts/html5uploader.js"
    = js "/scripts/check.js?v=2012021502"


    - if @result
      :javascript
        results = #{@result.gsub /\//, "\\\/"};

    <!-- Piwik --> 
    :javascript
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://wd.alibaba-inc.com/piwik/" : "http://wd.alibaba-inc.com/piwik/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));

    :javascript
      try {
      var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
      piwikTracker.trackPageView();
      piwikTracker.enableLinkTracking();
      } catch( err ) {}
    
    %noscript
      %p
        %img( src="http://wd.alibaba-inc.com/piwik/piwik.php?idsite=2" )

    <!-- End Piwik Tracking Code -->
