-# coding: utf-8
!!! 5
%html
  %head
    %meta( charset="utf-8" )
    %title fdlint - 让code review更轻松
    = css "/stylesheets/bootstrap.min.css"
    = css "/stylesheets/style.css"

  %body
    .container
      .actions
        %ul
          %li 输入代码，选择相应的语法，点击检查按钮
          %li 或将文件拖到文本框内 （可多选）
      %textarea.input( placeholder="在此输入代码，或将文件拖到这里" )
      %p
        类型
        %select( name="syntax" )
          %option CSS
          %option Javascript
          %option HTML
        %button.submit.btn.primary 检查
      .content
        .locator-wrapper
          .locator.hide
            .locator-content
              .prev 
                %a.btn( href="#prev" ) &#9650;
              .next 
                %a.btn( href="#next" ) &#9660;
        #src


    = js "http://style.china.alibaba.com/js/lib/fdev-v4/core/fdev-min.js" 
    = js "http://style.china.alibaba.com/js/lib/fdev-v4/widget/ui/scrollto.js" 
    = js "/scripts/html5uploader.js"
    = js "/scripts/check.js?v=20120109"

    <!-- Piwik --> 
    :javascript
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://wd.alibaba-inc.com/piwik/" : "http://wd.alibaba-inc.com/piwik/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));

    :javascript
      try {
      var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
      piwikTracker.trackPageView();
      piwikTracker.enableLinkTracking();
      } catch( err ) {}
    
    %noscript
      %p
        %img( src="http://wd.alibaba-inc.com/piwik/piwik.php?idsite=2" )

    <!-- End Piwik Tracking Code -->
